body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body .header {
  width: 100%;
  height: 65px;
  background: #ffffff;
  border-bottom: solid 1px #e5e5e5;
}
body .header .header_container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
body .header .header_container .header_logo {
  align-self: center;
  float: left;
  width: 280px;
}
body .header .header_container .header_logo .header_logo_a {
  float: left;
  display: inline-block;
  width: 280px;
  height: 100%;
}
body .header .header_container .header_logo .header_logo_a .header_logo img {
  position: absolute;
  width: 280px;
  height: 40px;
}
body .header .header_container .header_nav {
  align-self: center;
  width: 825px;
  height: 42px;
  margin-left: 50px;
  display: flex;
}
body .header .header_container .header_nav .nav_item {
  align-self: center;
  float: left;
  margin-left: 30px;
}
body .header .header_container .header_nav .nav_item .nav_item_link {
  font-weight: 600;
  color: #000;
}
body .header .header_container .header_nav .nav_item_link:hover {
  color: #e94840;
}
body .header .header_container .header_nav .nav_city {
  margin-right: 50px;
  align-self: center;
}
body .header .header_container .header_nav .nav_city > img {
  width: 20px;
  vertical-align: middle;
  line-height: 20px;
  margin-right: -5px;
}
body .header .header_container .header_nav .nav_city > span {
  font-weight: 700;
  color: #000;
  vertical-align: middle;
}
body .header .header_container .header_nav .nav_city .change_city:hover {
  color: #e94840;
}
body .header .header_container .header_nav .nav_login {
  width: 71px;
  height: 28px;
  background: #e94840;
  text-align: center;
  border-radius: 5px;
}
body .header .header_container .header_nav .nav_login .nav_item_login {
  line-height: 28px;
  color: #ffffff;
}
