
#lunbobox {
    width:1349px;
    height:420px;
    position:relative;
}
.lunbo {
    width:1349px;
    height:420px;
}
.lunbo img {
    width:1920px;
    height:420px;
    position:absolute;
    top:0px;
    left: -290px;
}
#lunbobox ul {
    width: 80px;
    position:absolute;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
    z-index:5;
}
#lunbobox ul li {
    cursor:pointer;
    width:10px;
    height:10px;
    border-radius: 5px;
    float:left;
    margin: 0 10px 0 0;
    list-style:none;
    background:#cccccc;
    text-align:center;
}
