body{
  width:100%;
  height:100%;
  .main_baozhang{
    width:1200px;
    //height:100%;
    margin:0 auto;
    padding-top:50px;
    .baozhang_title{
      text-align: center;
      font-size: 30px;
      //font-family: "Î¢ÈíÑÅºÚ";
      font-weight: 800;
      margin-top:20px;
      margin-bottom:10px;
      >i{
        color:#fb474f;
        font-style: normal;
        font-weight: 800;
      }
    }
    >p{
      font-size:22px;
      color:#3d3838;
      text-align: center;
    }
  }
  .main_safe{
    width:1200px;
    margin:20px auto;
    >ul{
      width: 1200px;
      text-align: center;
      //margin-right:10px;
      >li{
        display: inline-block;
        margin-left:40px;
        >img{
          vertical-align: middle;
          margin-right:5px;
        }
        >span{
          font-size:18px;
          color:#1d1515;
        }
      }
    }
  }
  .footer{
    width: 1200px;
    height: 120px;
    margin: 50px auto 0;
    background:#fff;
    .footer_city{
      //box-sizing: border-box;
      //margin-top:20px;
      background:#fff;
      .city_title{
        float:left;
        width:72px;
        height:100px;
        //background: lightgrey;
        font-size: 18px;
        font-weight: 700;
        margin-top: 5px;
      }
      .city{
        box-sizing: border-box;
        margin-left: 30px;
        float:left;
        width:1090px;
        //height:100px;
        //background: burlywood;
        >a{
          width:9%;
          height:30px;
          font-weight: 200;
          font-size: 16px;
          color: #898989;
          display: inline-block;
          text-align: center;
          line-height: 30px;
          margin-left:-4px;
        }
      }
    }
  }
  .beian{
    width: 100%;
    height:220px;
    padding-top:50px;
    text-align: center;
    //background: floralwhite;
    .hezuo{
      width: 1200px;
      text-align: left;
      font-weight: bold;
      color: #1d1515;
      font-size: 18px;
      margin:0 auto;
    }
    .beian_list{
      width:1200px;
      margin:0 auto;
      >li{
        float: left;
        width: 120px;
        height: 60px;
        text-align: center;
        background: #fff;
        margin-right: 1%;
        line-height: 60px;
        margin-top:20px;
        //margin-bottom: 10px;
        cursor: pointer;
        >img{
          width:100px;
          height:auto;
          vertical-align: middle;
        }
      }
    }
    .beian_final {
      width: 1200px;
      margin:0 auto;
      text-align: left;
      color: #898989;
      font-size: 14px;
      line-height: 40px;
    }
  }

}
